{% extends 'base.html.twig' %}

{% block title %}Contactbook{% endblock %}

{% block body %}
    <h1 class="text-capitalize">{{user.email|split('@')[0]}}'s Contactbook</h1>
    <section class="row">
        {% for contact in contacts %}
            <article class="col-3">
                <section class="card">
                    <header class="card-header">{{contact.name}}</header>
                    <main class="card-body">☎️ {{contact.tel}}</main>
                </section>
            </article>
        {% endfor %}
    </section>
    <form action="/user/{{user.id}}/contact" method="POST" class="w-50 mt-4 card">
        <header class="card-header">Add a new contact</header>
        <main class="card-body">
            <div class="form-group row">
                <label class="col-2 col-form-label">name</label>
                <div class="col-10">
                    <input name="name" type="text" required class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">phone</label>
                <div class="col-10">
                    <input name="tel" type="tel" required class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary">Add Contact</button>
            </div>
        </main>
    </form>
    <a href="/logout">logout</a>
{% endblock %}