{% extends 'base.html.twig' %}
{% block title %}Create Account{% endblock %}
{% block body %}

<form action="/user/" method="POST" class="w-25">

    <h1 class="h3 mb-3 font-weight-normal">Create an Account</h1>

    <div class="form-group">

        <label for="inputEmail">Email</label>

        <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>

    </div>

    <div class="form-group">

        <label for="inputPassword">Password</label>

        <input type="password" name="password" id="inputPassword" class="form-control" required>

    </div>

    <button class="btn btn-lg btn-primary" type="submit"> Create Account </button>

    <a href="/login" class="d-block btn btn-link text-left pl-0"><small>Cancel</small></a>

</form>

{% endblock %}
